body {

    /*Color scheme https://kuler.adobe.com/Neutral-Blue-color-theme-22361/*/
    background:#FCFFF5;
}

h1 {
    font-size: 60px;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    text-align:center;
}

#grid {
    width: 210px ;
    margin-left: auto ;
    margin-right: auto ;
}

a img {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

